@import '../../../scss/vars';

.authors-reviews {
    max-width: 1275px;
    width: 100%;
    padding: 60px 0 90px;
    position: relative;

    &__title {
        color: $red;
        position: absolute;
        top: -60px;
        left: 50%;
        transform: translateX(-50%);
    }

    .reviews {
    
        &__list {
            margin-bottom: 50px;
            background-color: rgba(0, 0, 0, 0.05);
            padding: 20px;
            border-radius: 15px;
            border: 1px solid black;
        }
    
        &__form {
            display: flex;
            padding-top: 50px;
        }
        
        &__btn {
            padding: 0px;
            height: 150px;
        }
    }
}

