@import '../../../scss/vars';

.hero {

    &__pick-slider {
        padding-left: 27%;

        @include r($screen-xxl) {
            padding-left: 0;
            display: flex;
            justify-content: flex-end;
        }

        @include r($screen-xl) {
            justify-content: center;
        }

        .slick-list {
            height: 600px;

            @include r($screen-xxl) {
                max-width: 1050px;
            }

            @include r($mobile-xl) {
                max-width: 100%;
                height: 58vh;
            }

            @include r($mobile-md) {
                height: 58vh;
            }

            @include r($mobile-sm) {
                height: 63vh;
            }
        }

        .hero__item {
            position: relative;
            max-width: 100%;

            img {
                position: relative;
                z-index: 10;
                border-radius: 20px;
                object-fit: cover;

                @include r($mobile-xl) {
                    height: 58vh;
                }

                @include r($mobile-sm) {
                    height: 60vh;
                }
            }
        }
    }
}