@import '../../../scss/vars';

.modal-form {

    &__link {
        border-bottom: 1px solid transparent;
        transition: border-bottom-color 0.4s;
    
        &:focus,
        &:hover {
            outline: transparent;
            border-bottom-color: $black;
        }
    }
}