@import '../../scss/vars';

.textarea-form {
    position: relative;
    width: 100%;

    &__label {
        font-size: 16px;
        position: absolute;
        z-index: 5;
        cursor: pointer;
        width: 100%;
        transition: color 0.4s, border-bottom-color 0.4s;

        &:hover {
            color: $red;
        }
    }

    &__label-name {
        position: absolute;
        top: -7px;
        left: 20px;
        padding: 0 3px;
        border-radius: 5px;
        font-size: 16px;
        background-color: $white;
    }

    &__textarea {
        border-radius: 10px;
        padding: 20px 35px 20px 20px;
        border: 1px solid $black;
        height: 390px;
        resize: none;
        overflow: auto;
        width: 100%;
        font-size: 18px;
        font-weight: 400;
    }
}