@import '../../../scss/vars';

.about-author-chat {
    max-width: 1275px;
    width: 100%;
    position: relative;
    padding-top: 60px;

    &__title {
        color: $red;
        position: absolute;
        top: -60px;
        left: 50%;
        transform: translateX(-50%);
    }

    .reviews {
    
        &__list {
            margin-bottom: 50px;
        }
    
        &__form {
            display: flex;
            padding-top: 50px;
        }
        
        &__btn {
            padding: 0px;
            height: 150px;
        }
    }
}