@import '../../../scss/vars';

.about-author-chat {
    max-width: 1275px;
    width: 100%;
    position: relative;
    padding: 60px 0 100px;

    &__title {
        color: $red;
        position: absolute;
        top: -60px;
        left: 50%;
        transform: translateX(-50%);
    }

    .reviews {
    
        &__list {
            padding: 20px;
            margin-bottom: 40px;
            border-radius: 10px;
            background-color: rgba(0, 0, 0, 0.03);
            border: 1px solid black;
        }
    
        &__form {
            display: flex;
        }
        
        &__btn {
            padding: 10px;
            height: 150px;
            width: 150px;
        }
    }
}
