@import '../../scss/vars';

.reviews {
    padding-bottom: 100px;

    &__message {
        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }
}

.user-message {
    padding-bottom: 100px;
    display: flex;
    align-items: center;
    position: relative;
    background-color: $gray-300;
    padding: 10px 20px;
    border-radius: 20px;

    &__wrapper {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        width: 100%;
    }

    &__wrapper-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        word-break: break-all;
    }

    &__name {
        text-align: left;
        margin-bottom: 10px;
        word-break: break-all;
    }

    &__link {
        height: 100px;
        width: 120px;
        margin-right: 20px;
        border-radius: 50%;

        &--name {
            margin-right: 0;
            height: 0px;
            width: 100%;
        }
    }

    &__img-wrapper {
        background-color: $white;
        border-radius: 50%;
        height: 100%;
        width: 100%;
    }

    img {
        height: 100%;
        width: 100%;
        border-radius: 50%;
        object-fit: cover;
        transition: transform 0.3s;
    }

    span {
        display: block;
        font-weight: 700;
        font-size: 22px;
        color: $red;
    }

    time {
        color: $red;
        display: flex;
        width: 100%;
        justify-content: flex-end;
        align-items: center;
        font-size: 16px;

        .user-message__slash {
            color: $gray-100;
        }

        span {
            color: $black;
            padding-left: 5px;
            font-size: 16px;
            font-weight: 500;
        }
    }

    &__text {
        margin-bottom: 10px;
        text-align: left;

        p {
            word-break: break-all;
            @include line-clamp(2);

            &.active {
                @include line-clamp(1000000)
            }
        }
    }

    &__btn {
        padding: 2px 25px 2px 0px;
        max-width: 175px;
        width: 100%;
        position: relative;
        transition: background-color 0.3s;

        &.active {
            background-color: rgba(0, 0, 0, 0.5);

            &:hover {
                background-color: $red;
            }

            svg {
                transform: rotate(0);
            }
        }

        svg {
            fill: $white;
            position: absolute;
            right: 10px;
            transform: rotate(180deg);
            transition: transform 0.3s;
        }
    }

    &__delete {
        float: right;
        padding: 2px 20px;
        background-color: $black;
        color: $white;
        transition: background-color 0.3s;

        &:hover {
            background-color: $red;
        }
    }
}