@import '../../scss/vars';

.gallery {
    background-color: $gray-300;
    padding: 85px 0 95px;
    // max-height: 1635px;
    transition: filter 0.2s;

    &.active {
        filter: blur(10px);
    }

    @include r($mobile-md) {
        padding: 60px 0 85px;
    }

    &__list {
        margin-bottom: 102px;
    }

    &__item {
        height: auto;
    }
}