.confirm {

    max-width: 400px !important;
    width: 100%;
    
    .image {
        height: 130px;
        width: 380px;
        margin-bottom: 10px;
    }
}


.MuiDialogContent-root {
    text-align: center;
    word-wrap: break-word;
    overflow-x: hidden;
}

.confirm__btn {
    width: 50%;
}