.MuiPaper-elevation {
    padding: 10px;

    .image {
        height: 130px;
        width: 380px;
        margin-bottom: 10px;
    }
}

.MuiDialogContent-root {
    text-align: center;
    word-wrap: break-word;
    overflow-x: hidden;
}

.confirm__btn {
    width: 50%;
    padding: 7px 0 8px;
}