.MuiPaper-elevation {
    padding: 10px;

    .image {
        height: 130px;
        width: 380px;
        margin-bottom: 10px;
    }
}

.MuiDialogContent-root {
    text-align: center;
}

.confirm__btn {
    width: 50%;
}