.password {
    position: absolute;
    right: -20px;
    top: -5px;
    transform: translateY(90%);

    &__btn {
        opacity: 0.5;
        transition: opacity 0.3s;

        &:focus,
        &:hover {
            opacity: 1;
            outline-color: transparent;
        }
    }
}