@import '../../scss/vars';

.authors-list {
    padding-bottom: 100px;
    transition: filter 0.2s;
    // display: grid;

    &.active {
        filter: blur(10px);
    }

    @include r($screen-xl) {
        padding-bottom: 70px;
    }

    @include r($mobile-xl) {
        padding-bottom: 40px;
    }

    &__title {
        margin-bottom: 50px;

        @include r($mobile-lg) {
            margin-bottom: 20px;
        }

        @include r($mobile-sm) {
            text-align: center;
        }
    }

    &__content {
        display: grid;
        gap: 10px;
    }

    &__content {
        grid-template-columns: 12fr 122px;

        @include r($mobile-md) {
            grid-template-columns: 1fr;
        }

        .authors {

            &__list {
                display: flex;
                justify-content: space-between;
            }
    
            &__item {
                max-width: 100%;
                flex-direction: column;

                .author-card {
                    display: flex;
                    flex-direction: column;
                    border-radius: 10px;
                    width: 122px;
                    transition: box-shadow 0.4s;
                    position: relative;
                    background-color: $white;
                    padding: 5px;

                    &__link {
                        border-bottom: none;
                        height: 100%;
                    }

                    &__img-link {
                        margin-right: 0;
                        height: 125px;
                    }
                }
            }

        }
    }

    &__item,
    &__btn {
        display: flex;
    }

    &__item {
        max-width: 100%;
        flex-direction: column;
    }

    &__btn {
        align-items: center;
        margin: 0 auto;
        font-weight: 600;
        padding: 0 15px;
        font-size: 14px;
        text-align: center;
        height: 125px;
        color: $gray-100;
        background-color: $gray-400;
        border-radius: 10px;
        transition: box-shadow 0.4s, background-color 0.4s, color 0.4s;

        @include r($screen-xxl) {
            box-shadow: 3px 3px 8px 1px rgba(0, 0, 0, 0.5);
        }

        @include r($mobile-xl) {
            height: 100%;
        }

        @include r($mobile-md) {
            max-width: 100%;
            width: 100%;
            justify-content: center;
            padding: 50px 0;
            background-color: $red;
            color: $white;
        }

        &:hover {
            box-shadow: 3px 3px 8px 1px rgba(0, 0, 0, 0.5);
        }
    }
}